body{
background:white;
margin:0 auto;
padding: 0;
}
.overlay-container {
left:0px;
top:0px;
width:100%;
height:100%;
padding:0px;
position:fixed;
background:none;
display:block;
}

.curtain-layer-one {
margin-left:0px;
width:10%;
top:0px;
height:100%;
background:#302e2e;
position:absolute;
float:left;
}
.curtain-layer-two {
margin-left:10%;
width:10%;
top:0px;
height:100%;
background:#302e2e;
position:absolute;
float:left;
}
.curtain-layer-three {
margin-left:20%;
width:10%;
top:0px;
height:100%;
background:#302e2e;
position:absolute;
float:left;
}

.curtain-layer-four {
margin-left:30%;
width:10%;
top:0px;
height:100%;
background:#302e2e;
position:absolute;
float:left;
}

.curtain-layer-five {
margin-left:40%;
width:10%;
top:0px;
height:100%;
background:#302e2e;
position:absolute;
float:left;
}

.curtain-layer-six {
margin-left:50%;
width:10%;
top:0px;
height:100%;
background:#302e2e;
position:absolute;
float:left;
}


.curtain-layer-seven {
margin-left:60%;
width:10%;
top:0px;
height:100%;
background:#302e2e;
position:absolute;
float:left;
}

.curtain-layer-eight {
margin-left:70%;
width:10%;
top:0px;
height:100%;
background:#302e2e;
position:absolute;
float:left;
}

.curtain-layer-nine {
margin-left:80%;
width:10%;
top:0px;
height:100%;
background:#302e2e;
position:absolute;
float:left;
}


.curtain-layer-ten {
margin-left:90%;
width:10%;
top:0px;
height:100%;
background:#302e2e;
position:absolute;
float:left;
}

.eleven {
margin-left:100%;
width:10%;
top:0px;
height:100%;
background:#302e2e;
position:absolute;
float:left;
}


button {
padding:7px;
font-size:1em;
background:#302e2e;
color:white;
border-radius:7px;
cursor:pointer;
}

.six-packs {
 width:500px;
 margin:auto;
 height:390px;
 position:fixed;
 padding:0px;
 left:30%;
 top:20%;
}
.one-pack {
margin-left:0%;
top:0px;
width:250px;
height:130px;
float:left;
background:#714141;
position:absolute;
text-align:center;
font-size:2em;
color:white;
cursor:pointer;
}

.two-pack {
margin-left:250px;
top:0px;
width:250px;
height:130px;
float:left;
background:#3a8379;
position:absolute;
text-align:center;
font-size:2em;
color:white;
cursor:pointer;
}
.three-pack {
margin-left:0%;
top:130px;
width:250px;
height:130px;
float:left;
background:#877038;
position:absolute;
text-align:center;
font-size:2em;
color:white;
cursor:pointer;
}
.four-pack {
margin-left:250px;
top:130px;
width:250px;
height:130px;
float:left;
background:#6c2c6a;
position:absolute;
text-align:center;
font-size:2em;
color:white;
cursor:pointer;
}

.five-pack {
margin-left:0%;
top:260px;
width:250px;
height:130px;
float:left;
background:#a33c4b;
position:absolute;
text-align:center;
font-size:2em;
color:white;
cursor:pointer;
}

.six-pack {
margin-left:250px;
top:260px;
width:250px;
height:130px;
float:left;
background:#853126;
position:absolute;
text-align:center;
font-size:2em;
color:white;
cursor:pointer;
}

.body-container {
padding:10px;
margin:auto;
width:500px;
margin-top:100px;
position:relative;
}
.loading {
top:5%;
left:30%;
position:fixed;
font-size:1.5em;
font-family:ISOCP;
color:white;
}
